.header {
    .item-avatar {
        .pic {
            width: 80px !important;
            height: 80px !important;
        }
    }
    .profile-name {
        font-size: 20px;
        color: #010101;
        font-family: 'Roboto-Light';
    }
}