.content {
    //======================================================================//
    .profile-item {
        text-align: center;
    }
    .profile-picture {
        border: 1px solid rgba(0, 0, 0, 0.25);
        padding: 3px;
        border-radius: 100%;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        margin: 0 auto;
        width: 128px;
        height: 128px;
        overflow: hidden;
    }
    .profile-picture img {
        width: 128px;
        border-radius: 100%;
    }
    .profile-name {
        padding-top: 0 auto;
        font-size: x-large !important;
        font-weight: bold !important;
        text-transform: capitalize;
        color: #009FFF
    }
    .profile-info {
        color: #000000
    }
    //======================================================================//
    .list {
        .list-ico {
            background-color: #fff1ff;
            border-radius: 8px;
            border: 2px solid #ccccff;
        }
        .list-info {
            color: black;
            background-color: #f4f1ff;
            border-radius: 8px;
            border: 2px solid #ccccff;
            text-indent: px;
            font-weight: bold;
        }
    }
}